h1 {
  color:blue;
  font-family:serif;
    text-decoration:underline;
}
p {
  color:seagreen;
  text-align:left;
} 
h3 {
  font-weight:bolder;
  text-align:left;
  color: red;
}
body { 
  background-color:black;
}
img { 
  border-style:dotted;
  border-color:crimson;
  margin:30px;
}
  h2 {
    color:darkorange;
  }

.Intro {
  color:crimson;
  border:solid;
    border-color:aqua;
  font-family: monospace;
  font-size: 20px;

  
