body {
  background: red;
}
ol {
  color: blue;
  font-size:24px;
  font-weight:800;
}
h1 {
  font-weight: bold;
}

img {
  border-style:double
}

.Heading {
  color: rgb(24,232,23);
  font-family:serif;
}

.backround {
  background-color: rgb(16,17,23);
}
