
p {
 
  text-align: center;
}
h1 {
  font-weight: bold;
 
  text-align:center;
  
}
h2 {
  font-weight:sans-serif;
  text-align:center;
  
}

h3 { 
  text-align: center;
  color:yellow;
  
}

img {
  
margin:100;
  
  
}


    
  
