body {
  background:green;
}
p {
  color: blue;
  text-align:right;
}
h1 {
  font-weight: bold;
  color:firebrick;
  text-align:right;
  
}

h3 {
  
color: darkblue;
  
font-weight:bold;
  text-align:right;
}

img { 
  
align-self:center;
}
