body {
  background:darkgreen;
}
p {
  color: blue;
  text-align:left;
}
h1 {
  font-weight: bold;
  color:firebrick;
  text-align:left;
  
}

h3 {
  
color: darkblue;
  
font-weight:bold;
  text-align:left;
}

img { 
  
align-image:center;
}
